body{
    margin: 0;
    padding: 0;
    /* border: solid 2px green; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.title{
 
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-family: 'M PLUS 1', sans-serif;
    color: rgb(134, 134, 214);;
    font-size: 50px;
}
.container{
    
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
    height: 70vh;
    width: 100vw;
    /* flex-shrink: 10; */
}
.drop-box{
    width: 500px;
    /* border:2px black solid; */
    height: 70vh;
    border-radius: 35px;
    display: flex;
    /* flex-shrink: 1; */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0px 20px 20px rgb(175, 175, 214);
}
.png-container{
    /* width: 40vw; */
   
    /* border:  solid 2px black; */
}
.png-container{
    /* height: 100%; */
    display: flex;
    box-sizing: border-box;
    height: 520px;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 10;
}
.inner-box{
    width: 80%;
    border:2px dashed rgb(171, 171, 214);
    height: 55%;
    margin-left: 45px;
    margin-right: 45px;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 35px;
}

.logo{
    /* border:solid 2px black; */
    box-sizing: border-box;
}
.icon{
    box-sizing: border-box;
    width: 80px;
    position: absolute;
    /* border:solid 2px black; */
}
.icon-container{
    width: 75px;
    height: 100px;
    position: relative;
}
.icon-container .center {
    z-index: 2;
}
@media (max-width:1114px) {
    .png-container{
        width: 300px;
    }
}
@media (max-width:1114px) {
    .png-container{
        width: 300px;
    }
}
@media (max-width:1103px) {
    .png-container{
        width: 200px;
    }
}
@media (max-width:1097px) {
    body{
        /* border:solid 2px black; */
        height: auto;
    }
    .container{
       flex-direction: column-reverse;

       height: auto;
       /* border:solid 2px grey; */
    }
    .png-container{
        margin-bottom: 50px;
    }
}
@media (max-width:625px) {
    .png-container{
        width: 200px;
        height: 300px;
    }
    .drop-box{
        width: 450px;
    }
    body{
        height: auto;
    }
}

#file{
    display: none;
}
#browseBtn{
    color: rgb(112, 112, 182);
    text-decoration: underline rgb(112, 112, 182);
}
#browseBtn:hover{
    cursor: pointer;
}
.logo{
    box-sizing: border-box;
    height: 90%;
}
.error{
    text-align: center;
}
.copy{
    width: 45px;
    height: 50px;
}
.copy-url{
    border: 2px dashed rgb(171, 171, 214);
    width: 100%;
    display: flex;
    border-radius: 25px;
    
}
.url-container{
    width: 80%;
    margin-bottom: 20px;
}
#fileUrl{
    width: 80%;
    height: 50px;
    border: none;
    text-align: center;
    font-size: larger ;
    font-family: 'Estonia', cursive;
    font-family: 'Hurricane', cursive;
    font-family: 'Courier New', Courier, monospace;
   
    opacity: 0.9;
    
}
#fileUrl:focus{
  outline: none;
}
.message{
    text-align: center;
    font-family: 'Courgette', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Hurricane', cursive;
    /* font-family: 'M PLUS 1', sans-serif; */
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: #000;
    font-size: 20px;
}
.text{
    font-family: 'Courgette', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Hurricane', cursive;
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: #000;
    font-size: 25px;
}
.emailForm{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.emailContainer{
    /* border: 2px black solid; */
    width: 70%;
}
.sender,.receiver{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: solid 2px red; */
   
}
#emailFrom,#emailTo{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(171, 171, 214) solid 2px;
    width: 250px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: large;
}
#emailFrom,#emailTo:focus{
    outline: none;
}
.e-f{
   
    padding-top: 5px;
    padding-left:5px ;
    padding-right: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: large;
    color: rgb(88, 88, 207);
    
    font-family: monospace;
    font-size: 22px;
   
}
.submit-btn{
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 8px 23px 8px 23px;
    border:none;
    background-color:rgb(144, 144, 212);
    border-radius: 15px;
    font-size: larger;
    width: 40%;
    color: white;
    
}
#copy-icon{
    opacity: 0.5;
    color: grey;
}